@charset "utf-8";

/*----------------------------------------------------*/ 
/* smartphone
------------------------------------------------------*/ 

/* index
------------------------------------------------------*/ 

#contents ul.menuLink.thumb li a {
	white-space:nowrap;
}

#contents ul.menuLink.thumb li a img {
	vertical-align:middle;
	border-right:#FFF solid 10px;
}

div.top_others_area {
	width:300px;
	height:32px;
	margin:15px auto 0;
	position:relative;
	margin-bottom:15px;
}

#top_others_select {
	opacity:0;
	position:relative;
	width:300px;
	z-index:5;
	line-height:1.9;
}

#select_fake {
	width:300px;
	height:22px;
	text-align:center;
	background:url(/case/img/icon_select.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#B3B3B3));
	border:solid 1px #999;
	-webkit-border-radius:5px;
	margin:0 auto;
	display:block;
	position:absolute;
	padding:10px 0 0;
}

.text_box {
	width:278px;
	border:solid 1px #999;
	-webkit-border-radius:5px;
	margin:0 auto 10px;
	display:block;
	padding:10px;
}

.submit_btn {
	width:300px;
	text-align:center;
	background:-webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#B3B3B3));
	border:solid 1px #999;
	-webkit-border-radius:5px;
	margin:0 auto;
	display:block;
	padding:8px 0;
}

#contents div.freeword {
	padding:15px 0 30px;
}


/* shindan
------------------------------------------------------*/ 

#contents div.photo_header {
	text-align:center;
	margin-bottom:10px;
}

#contents .categoy_entries dt {
	background:url(/sp/common/img/line_dot_01.png) repeat-x left bottom;
	padding:0 13px 8px 13px;
	margin-bottom:13px;
	color:#003366;
	font-weight:bold;
}

#contents .categoy_entries dd {
	padding:0 0 10px 5px;
}

#contents .categoy_entries li {
	font-size:12px;
	float:left;
	margin-left:6px;
	text-align:center;
}

#contents p.shourei_top {
	margin-top:15px;
}

#contents p.shourei_top a {
	border-top:solid 1px #CCC;
	border-bottom:solid 1px #CCC;
	padding:8px 13px 6px 28px;
	background:#EEEEEE url(/sp/common/img/icon_linkarrow03.png) no-repeat 5px center;
	display:block;
	font-weight:bold;
}

/* detail
------------------------------------------------------*/ 

#contents .sub_header {
	background-color:#EEE;
	border-bottom:#CCC solid 1px;
	padding:5px 0 0;
	text-align:center;
	margin-bottom:15px;
}

#contents .sub_header li {
	margin-bottom:3px;
}

/*--------------------------------------------------*/
/* search_item
----------------------------------------------------*/ 

#contents div.search_item {
	margin:0 10px 20px;
}

#contents div.search_item dt {
	width:68px;
	background:url(/case/img/bg_case_h04.gif) no-repeat 0 .1em;
	padding:0 0 1px 7px;
	float:left;
	clear:both;
	font-weight:bold;
}

#contents div.search_item dd {
	padding:0 0 8px 75px;
	background:url(/sp/common/img/line_dot_01.png) repeat-x left bottom;
	margin-bottom:8px;
}

/*--------------------------------------------------*/
/* search_result
----------------------------------------------------*/ 

#contents div.search_result div.count {
	padding:0 13px 5px;
	background:url(/sp/common/img/line_dot_01.png) repeat-x left bottom;
}

#contents div.search_result div.count p {
	margin:0;
}

#contents div.search_result ul.menuLink li a {
	white-space:nowrap;
}

#contents div.search_result ul.menuLink li a img {
	float:left;
	display:block;
	border-right:#FFF solid 10px;
}

#contents div.search_result ul.menuLink li a span {
	color:#333;
}

#contents div.search_result ul.menuLink li:last-child a {
	border-bottom:none;
}


