@charset "utf-8";


/*--------------------------------------------------*/
/* admin_mode
----------------------------------------------------*/ 

#contents div.admin_header {
	border:solid 1px #CC0000;
	background-color:#FFEEEE;
	position:relative;
	width:678px;
	margin:-25px 0 20px -25px;
}

#contents div.admin_header dt {
	float:left;
	padding:15px 0 15px 24px;
	font-size:14px;
	color:#CC0000;
	font-weight:bold;
}

#contents div.admin_header dd img {
	vertical-align:top;
}

#contents div.admin_header dd.logout {
	float:right;
	padding:15px 24px 15px 0;
}

#contents div.admin_header dd.editbtn {
	position:absolute;
	top:50%;
	left:50%;
	margin:-17px 0 0 -88px;
}


#maincontents div.admin_login {
	border:solid 1px #CC0000;
	background-color:#FFEEEE;
	text-align:center;
	padding:40px 0;
}

#maincontents div.admin_login p {
	font-size:14px;
	color:#CC0000;
	font-weight:bold;
}

/*--------------------------------------------------*/
/* caselist
----------------------------------------------------*/ 
.sp_sign {
	display: none;
}

.indent {
	overflow: hidden;
}

.caselist {
	letter-spacing: -.4em;
	margin-left: -20px;
}

.caselist li {
	letter-spacing: normal;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 20%;
	padding: 0 0 20px 20px;
}

.caselist li dt {
	margin: 10px 0;
	font-weight: bold;
	font-size: 1.8rem;
}

@media only screen and (max-width: 767px) {

.sp_sign {
	display: block;
}

#contents .cmnbtn03 {
	display: block;
}

.caselist {
	letter-spacing: -.4em;
	margin-left: 0;
}

.caselist li {
	display: block;
	width: auto;
	padding: 10px 0;
	border-bottom: dotted 1px #ccc;
	overflow: hidden;
}

.caselist li .img {
	float: left;
	width: 40%;
	padding-right: 10px;
	box-sizing: border-box;
}

.caselist li dl {
	overflow: hidden;
}

.caselist li dt {
	margin: 0 0 10px;
	font-size: 15px;
}


}

/*--------------------------------------------------*/
/* caseMenu
----------------------------------------------------*/ 

.caseMenu {
	padding: 20px;
	background: #eee;
	overflow: hidden;
	margin-top: 50px;
}

.caseMenu h2 {
	font-size:1.8rem;
	color:#0888a7;
	margin-bottom: 10px;
}

.caseMenu .count {
	font-size: 1.3rem;
	}

.caseMenu .kanso {
	display: none;
}

.case_top .caseMenu .shindan {
	display: none;
}

.caseMenu .shindan {
	margin-bottom: 20px;
}

.caseMenu .shindan ul {
	letter-spacing: -.4em;
	margin-left: -10px;
}

.caseMenu .shindan li {
	letter-spacing: normal;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 25%;
	padding: 0 0 10px 10px;
}

.caseMenu .nendai,
.caseMenu .sonota,
.caseMenu .freewords {
	float: left;
	box-sizing: border-box;
}

.caseMenu .nendai {
	width: 25%;
}

.caseMenu .nendai li {
	margin-bottom: 5px;
}

.caseMenu .sonota {
	width: 40%;
	padding-right: 40px;
}

.caseMenu .freewords {
	width: 35%;
}

.caseMenu .kubun {
	margin-bottom: 40px;
}

.caseMenu .sonota select {
	border: solid 1px #C2C2C2;
	border-radius: 5px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	box-sizing: border-box;
	padding-left: 10px;
	height: 40px;
	background: #fff;
	width: 100%;
	font-size: 16px;
}

.caseMenu .freewords input[type='text'] {
	border: solid 1px #C2C2C2;
	border-radius: 5px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	box-sizing: border-box;
	padding: 10px;
	-webkit-appearance: none;
	appearance: none;
	font-size: 16px;
	width: 100%;
}

.caseMenu .freewords .submit {
	overflow: hidden;
	margin: 10px 0;
}

.caseMenu .freewords input[type='submit'] {
	float: right;
	-webkit-appearance: none;
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 5px 0;
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#e7e7e7 100%);
	background: linear-gradient(to bottom, #f7f7f7 0%,#e7e7e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e7e7e7',GradientType=0 );
	box-sizing: border-box;
	width: 100px;
	cursor: pointer;
}

.caseMenu .freewords ul.con {
	float: left;
	margin-top: 5px;
}

.caseMenu .freewords ul.con li {
	float: left;
	margin-right: 15px;
}

.caseMenu .freewords ul.con li input[type='radio'] {
	vertical-align: middle;
	margin-right: 5px;
	position: relative;
	top: -2px;
}

.caseMenu .freewords .search_detail a {
	background:#db536f;
	border-radius:6px;
	box-shadow:0 3px 0 0 #a03b4f;
	display:block;
	padding:12px 2em 9px 2em;
	font-weight:bold;
	font-size:1.4rem;
	color:#FFF;
	text-align:center;
	position:relative;
	margin:0 auto 3px auto;
	text-decoration:none;
}

.caseMenu .freewords .search_detail a:hover {
	background:#a03b4f;
	box-shadow:none;
	transform:translateY(3px);
	text-decoration:none;
}

@media only screen and (max-width: 767px) {

.caseMenu {
	padding: 20px 10px 10px;
}

.caseMenu nav > * {
	margin: 0 0 20px 0;
}


.caseMenu .shindan ul,
.caseMenu .nendai ul,
.caseMenu .kubun ul {
	margin: 0 -10px;
	border-top: solid 1px #ccc;
}

.caseMenu .shindan li,
.caseMenu .nendai li,
.caseMenu .kubun li {
	display: block;
	width: auto;
	padding: 0;
	border-bottom: solid 1px #ccc;
	font-size: 16px;
	margin: 0;
}

.caseMenu .shindan li a,
.caseMenu .nendai li a,
.caseMenu .kubun li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	position: relative;
}

.caseMenu .shindan li a:after,
.caseMenu .nendai li a:after,
.caseMenu .kubun li a:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 4px 8px;
	border-color: transparent transparent transparent #666;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -4px;
}

.caseMenu .nendai,
.caseMenu .sonota,
.caseMenu .freewords {
	float: none;
	width: auto;
	margin: 0 0 20px 0;
	padding: 0;
}

.caseMenu .kubun {
	margin: 0 0 20px;
}

.caseMenu .freewords .submit {
	overflow: hidden;
	margin: 0 0 25px;
}

.caseMenu .freewords input[type='submit'] {
	float: none;
	width: 100%;
	padding: 10px 0;
	display: block;
}

.caseMenu .freewords ul.con {
	float: none;
	margin: 5px 0;
	overflow: hidden;
}

}

/*--------------------------------------------------*/
/* lead_category
----------------------------------------------------*/ 

.lead_category {
	overflow: hidden;
	margin-bottom: 20px;
}

.lead_category .image {
	float: left;
	margin-right: 30px;
}

.lead_category .detail {
	overflow: hidden;
}

@media only screen and (max-width: 767px) {

.lead_category .image {
	width: auto;
	float: none;
	margin: 0 0 10px;
}

.lead_category .image img {
	width: 100%;
}

.lead_category .detail {
	overflow: visible;
}

}

/*--------------------------------------------------*/
/* categoy_entries
----------------------------------------------------*/ 

.categoy_entries > dt {
	background: #0888a7;
	color: #fff;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 1.8rem;
	font-weight: bold;
}

.categoy_entries > dd ul {
	letter-spacing: -.4em;
	margin-left: -20px;
}

.categoy_entries > dd li {
	letter-spacing: normal;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 20%;
	padding: 0 0 10px 20px;
}

.categoy_entries > dd li img {
	width: 100%;
	height: auto;
}

.categoy_entries > dd li .kubun {
	margin-bottom: 20px;
}

.categoy_entries > dd li .kubun dt {
	font-size: 1.6rem;
	margin-bottom: 10px;
	padding: 10px;
	background: #eee;
}

.categoy_entries > dd li .kubun dd.end {
	position: relative;
	margin-top: 50px;
}

.categoy_entries > dd li .kubun dd.end:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 25px 0 25px;
	border-color: #999999 transparent transparent transparent;
	display: inline-block;
	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -25px;
}


.backtop {
	margin: 50px 0 30px;
	text-align: center;
}

@media only screen and (max-width: 767px) {

.categoy_entries dd ul {
	margin-left: -10px;
}

.categoy_entries dd li {
	width: 50%;
	padding: 0 0 15px 10px;
}

.categoy_entries dd li p {
	margin-bottom: 0;
}


}

/*--------------------------------------------------*/
/* btn_more
----------------------------------------------------*/ 

ul.hide {
	display: none;
}

.btn_more,
.btn_more_page {
	margin: 10px 0 30px;
	text-align: center;
}

.btn_more a {
	display: inline-block;
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 8px 0;
	background: #384839;
	color: #fff;
	text-decoration: none;
	width: 30%;
}

.btn_more a:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 5px 0 5px;
	border-color: #ffffff transparent transparent transparent;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.btn_more a.close:after {
	border-style: solid;
	border-width: 0 5px 8px 5px;
	border-color: transparent transparent #ffffff transparent;
}

.btn_more_page a {
	width: 30%;
}


@media only screen and (max-width: 767px) {

.btn_more a,
.btn_more_page a {
	display: block;
	width: auto;
}

}

/*--------------------------------------------------*/
/* search_result
----------------------------------------------------*/ 

.categoryback {
	text-align: right;
	margin-bottom: 30px;
}

.search_result > ul > li {
	border-bottom: solid 1px #ccc;
	padding: 20px 20px 0;
}

.search_result > ul > li.bl-hover {
	background: #eee;
}

.search_result .image {
	float: left;
	margin-right: 30px;
}

.search_result .image img {
	width: auto;
	height: auto;
}

.search_result .detail {
	overflow: hidden;
}

.search_result .detail h3 {
	font-size: 2.0rem;
	font-weight: bold;
	margin-bottom: 15px;
}

.search_result .btn_more {
	margin-top: 30px;
}

.search_result .detail > ul li {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: dotted 1px #ccc;
}

.search_result .detail > ul li:last-child {
	border: none;
}

.search_result .detail > ul dl {
	overflow: hidden;
}

.search_result .detail > ul dt {
	float: left;
	font-weight: bold;
	color: #0888a7;
}

.search_result .detail > ul dd {
	overflow: hidden;
}

@media only screen and (max-width: 767px) {

.search_result > ul > li {
	padding: 20px 10px 10px;
	background: #eee;
	margin: 10px 0;
	border: none;
}

.search_result .image {
	float: none;
	margin: 0 0 20px 0;
	text-align: center;
}

.search_result .detail {
	overflow: visible;
}

.search_result .detail h3 {
	font-size: 18px;
}

}


/*--------------------------------------------------*/
/* shindan_title
----------------------------------------------------*/ 

.shindan_title {
	overflow: hidden;
	margin-bottom: 15px;
}

.shindan_title > p,
.shindan_title > .sub {
	float: left;
	white-space: nowrap;
}

.shindan_title p.notice_category {
	background: #464646;
	color: #fff;
	margin: 0 5px 5px 0;
	padding: 4px 6px;
}

.shindan_title > .sub p {
	display: inline-block;
	background: #DDD;
	margin: 0 5px 5px 0;
	padding: 4px 6px;
}

.titlebox {
	position: relative;
}

.titlebox .htype01 {
	padding-right: 100px;
}

.titlebox .karte {
	position: absolute;
	right: 0;
	top: 20px;
}

@media only screen and (max-width: 767px) {

.titlebox .htype01 {
	padding-right: 0;
}

.titlebox .karte {
	position: static;
	text-align: right;
	margin: -10px 0 10px;
}


}

/*--------------------------------------------------*/
/* lead_entry
----------------------------------------------------*/ 


.lead_entry {
	margin-bottom: 30px;
	overflow: hidden;
}

.lead_entry .image {
	float: left;
	box-sizing: border-box;
	width: 25%;
	padding-right: 20px;
}

.lead_entry .image img {
	width: 100%;
	height: auto;
}

.lead_entry p {
	overflow: hidden;
}

@media only screen and (max-width: 767px) {

.lead_entry .image {
	float: none;
	width: auto;
	padding: 0 0 10px 0;
}

.lead_entry .image img {
	width: 100%;
}


.lead_entry p {
	overflow: visible;
}

}

/*--------------------------------------------------*/
/* shourei_detail
----------------------------------------------------*/ 

.shourei_detail .h_status {
	background: #0888a7;
	color: #fff;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 1.8rem;
	font-weight: bold;
}

.shourei_detail ul {
	overflow: hidden;
	margin-left: -20px;
}

.shourei_detail li {
	float: left;
	box-sizing: border-box;
	width: 25%;
	padding: 0 0 20px 20px;
}

.shourei_detail li img {
	width: 100%;
	height: auto;
}

.photo_patient {
	float: right;
	width: 25%;
	margin: 0 0 20px 20px;
}

.shourei_detail li a,
.photo_patient a {
	display: block;
	position: relative;
}

.shourei_detail li a:after,
.photo_patient a:after {
	content:"";
	display:block;
	position:absolute;
	bottom:5px;
	right:5px;
	height:38px;
	width:35px;
	background: url(/lib/image/cmn/icon_boxer.png) no-repeat;
}

@media only screen and (max-width: 767px) {

.shourei_detail .h_status {
	margin-bottom: 10px;
}

.shourei_detail ul {
	margin-left: -10px;
}

.shourei_detail li {
	padding: 0 0 20px 10px;
	width: 50%;
}

.photo_patient {
	float: none;
	width: auto;
	margin: 0 0 20px 0;
}

.shourei_detail li a:after {
	width:25px;
	height:25px;
	background-size: 25px auto;
}


}

/*--------------------------------------------------*/
/* search_condition
----------------------------------------------------*/ 

.search_condition dt {
	font-size: 1.8rem;
}

.search_condition dt {
	float: left;
	clear: both;
	width: 5em;
	font-weight: bold;
	color: #0888a7;
	padding-left: 10px;
}

.search_condition dd {
	margin: 0 0 10px 0;
	padding: 0 0 10px 6em;
	border-bottom: dotted 1px #ccc;
}

.search_condition dd:before {
	content: "ï¼š";
	margin-right: 15px;
	font-weight: bold;
	color: #0888a7;
}

.search_condition dd:last-child {
	border: none;
}

.result_num {
	margin-left: 10px;
	font-size: 1.8rem;
}

/*--------------------------------------------------*/
/* search.php
----------------------------------------------------*/ 

.search .freewords input[type='text'] {
	border: solid 1px #C2C2C2;
	border-radius: 5px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	box-sizing: border-box;
	padding: 10px;
	-webkit-appearance: none;
	appearance: none;
	font-size: 16px;
	width: 50%;
}

.search .freewords input[type='submit'] {
	-webkit-appearance: none;
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 8px 0;
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#e7e7e7 100%);
	background: linear-gradient(to bottom, #f7f7f7 0%,#e7e7e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e7e7e7',GradientType=0 );
	box-sizing: border-box;
	width: 100px;
	cursor: pointer;
	margin-left: 10px;
}

.search .freewords ul.con {
	overflow: hidden;
	margin-top: 5px;
}

.search .freewords ul.con li {
	float: left;
	margin-right: 15px;
}

.search .freewords ul.con li input[type='radio'] {
	vertical-align: middle;
	margin-right: 5px;
	position: relative;
	top: -2px;
}

.reset_btn {
	text-align: right;
}

.reset_btn a {
	display: inline-block;
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 8px 15px;
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#e7e7e7 100%);
	background: linear-gradient(to bottom, #f7f7f7 0%,#e7e7e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e7e7e7',GradientType=0 );
	box-sizing: border-box;
	text-decoration: none;
	font-size: 1.5rem;
}

.titlebox .reset_btn {
	position: absolute;
	right: 0;
	top: 0;
}

.search_item {
	font-size: 1.7rem;
}

.search_item section {
	margin: 20px 0 0 0;
}

.search_item section > ul {
	letter-spacing: -.4em;
}

.search_item section > ul li {
	letter-spacing: normal;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 0 30px 10px 25px;
	position: relative;
}

.search_item section > ul li input[type="radio"],
.search_item section > ul li input[type="checkbox"] {
	position: absolute;
	left: 0;
	top: 3px;
}

.search_item section > ul.shindan li {
	width: 25%;
	padding: 0 0 10px 25px;
}

.search_item section > ul.souchi li {
	width: 33.3%;
	padding: 0 15px 10px 25px;
}

.search_item section > ul.souchi li.title {
	width: auto;
	display: block;
	padding: 8px 10px;
	background: #eee;
	margin: 10px 0 15px;
}


.search .submit {
	text-align: center;
}

.search .submit input[type="submit"] {
	-webkit-appearance: none;
	border: none;
	width: 30%;
	font-size: 1.8rem !important;
}

@media only screen and (max-width: 767px) {

.search .freewords input[type='text'] {
	width: 100%;
}

.search .freewords input[type='submit'] {
	width: 100%;
	margin: 10px 0 0 0;
	display: block;
}

.reset_btn {
	text-align: left;
}

.reset_btn.btm {
	padding-top: 20px;
	margin-top: 10px;
	border-top: solid 1px #ccc;
}

.reset_btn a {
	padding: 5px 10px;
	font-size: 13px;
}

.titlebox .reset_btn {
	position: static;
}

.search_item section > ul.shindan li,
.search_item section > ul.souchi li {
	width: 100%;
}

.search .submit {
	margin-top: 20px;
}

.search .submit input[type="submit"] {
	width: 100%;
}

}

